<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary newpanel">
      <div class="panel-body newpanel-body">
        <%= render partial: 'analytics/allmacsgraph' %>
      </div>
    </div>
  </div>
</div>