<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body align="center">
    <h2>MAC <%= @id %></h2>
    <p><b>Flagged as failed to make change by:</b> <%= @email %><br/>
    <b>Reason for failure/rollback: </b><%= @reason %></p>
  </body>
</html>